<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
       <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      
      <nav>
	    <div class="nav-wrapper pink darken-2">
	      <a href="/home" class="brand-logo right">EVENTOS!</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	      <li><a href="/home">Home</a></li>
	      <li><a href="/eventos">Eventos</a></li>
	        <li><a href="/cadastrarEvento">Cadastro de Eventos</a></li>
	        	</ul>
       </div>
  </nav>

<title>Eventos</title>

</head>



<body> 
   
   
   <div class="row">
    <div class="col s9 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.midiamax.com.br/elasticbeanstalk-us-west-2-809048387867/uploads/2016/09/arquivos_noticias_2016_set_anitta_just_dance_2017.jpg"/>
          <span class="card-title"></span>
          <a href="/65" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
         <div class="card-content">
          <p>Show Anitta</p>
        </div>
      </div>
    </div>
  </div>
   
    <div class="col s6 m5">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/9Y3Gp6pNnsE/maxresdefault.jpg"/>
          <span class="card-title"></span>
          <a href="/66" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          <div class="card-content">
          <p>Show Ed sheeran</p>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col s5 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://d3jdy5kagtp3z4.cloudfront.net/files/eventos/1/255946171514635ce85e6b3f46f2e11d.jpeg"/>
          <span class="card-title"></span>
          <a href="/67" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
			<div class="card-content">
          <p>Show Raça Negra</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    
     <div class="row">
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/-WHn-Jxb0Bw/maxresdefault.jpg"/>
          <span class="card-title"></span>
          <a href="/68" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
           <div class="card-content">
          <p>Show ColdPlay</p>
        </div>
      </div>
    </div>
    </div>
    
  
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <img src="http://bravewords.com/medias-static/images/news/2017/59D503C3-scorpions-guitarist-matthias-jabs-on-bands-future-the-fans-dont-want-to-let-us-go-the-promoters-dont-want-to-let-us-go-we-get-offers-now-for-2019-image.jpg"/>
          <span class="card-title"></span>
          <a href="/69" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
             <div class="card-content">
          <p>Show Scorpions</p>
        </div>
      </div>
    </div>
     </div>
        
   
    
    <div class="col s6 m4">
      <div class="card">
        <div class="card-image">
          <img src="http://apeconcerts.com/wp-content/uploads/2017/09/Marshmello_1024-1-1024x576.jpg"/>
          <span class="card-title"></span>
          <a href="/70" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            <div class="card-content">
          <p>Show Marshmello</p>
        </div>
      </div>
    </div>
    </div>
     </div>
  
  </body>
  </html>